html {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 69%, rgba(63,62,60,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navi-bar {
    background-color: white;
    width: 70%;
    display: grid;
    grid-template-areas: "home user agent . . login";
    margin-top: calc(5px + 3.8vh);
    padding: 0px calc(2px + 1.8vw);
    border-radius: 26px;
}

.main-content {
    background-color: white;
    width: 70%;
    margin-top: 4%;
    border-radius: 23px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 0px -7px 27px -17px rgba(255,255,255,1);
    -moz-box-shadow: 0px -7px 27px -17px rgba(255,255,255,1);
    box-shadow: 0px -7px 27px -17px rgba(255,255,255,1);
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navi-item {
    margin: 1%;
    display: flex;
    justify-content: center;
}

.navi-item button {
    border: none;
    background: none;
    cursor: pointer;
    width: calc(19px + 8.5vw);
    height: calc(8px + 4vh);
    font-size: calc(6px + 0.9vw);
    margin: 0px;
}

.navi-item button:hover {
    background-color: black;
    color: white;
}

.image-container {
    margin-top: calc(10px + 4.5vh);
    padding-top: calc(10px + 5vh);
    padding-bottom: calc(10px + 5vh);
    height: calc(15px + 30vh);
    width: calc(90px + 35vw);
    display: flex;
    justify-content: center;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
}

#login-button {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    color: white;
    border-top-right-radius: 15%;
    border: none;
    height: 30px;
    padding: 2px 20px;
    text-align: center;
    display: inline-block;
    margin-top: calc(4px + 3vh);
    cursor: pointer;
    border-radius: 16px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-item {
    grid-column: 6/6;
}

.form-container input {
    border: none;
    border-bottom: 2px solid #808080;
    padding-bottom: calc(4px + 1.2vh);
}

.form-container button {
    padding-bottom: calc(10px + 1vh);
    margin-bottom: calc(10px + 10vh);
}

table.pattoo-table {
    border: 0.3em solid #111111;
    background-color: #c0c5ce;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
    width: inherit;
    overflow-y: scroll;
    height: auto;
    display: block;
    -webkit-box-shadow: 0px -7px 27px -17px rgba(0,0,0,1);
    -moz-box-shadow: 0px -7px 27px -17px rgba(0,0,0,1);
    box-shadow: 0px -7px 27px -17px rgba(0,0,0,1);
    border-radius: 5px;
}

table.pattoo-table td, table.pattoo-table th {
    border: 0.1em solid #111111;
    padding: 0.3em 0.2em;
}

table.pattoo-table thead {
    background: #c0c5ce;
    border-bottom: 0em solid #111111;
}

table.pattoo-table thead th {
    font-size: calc(3px + 1vw);
    font-weight: bold;
    color: black;
    text-align: left;
    border-left: 0.3em solid #111111;
}

table.pattoo-table thead th {
    border-bottom: 0.3em solid #111111;
}

table.pattoo-table tbody td {
    font-size: calc(3px + 1vw);
}

table.pattoo-table thead th:first-child {
    border-left: none;
}

table.pattoo-table tbody select {
    font-size: inherit;
    width: 100%;
}

/* The switch - the box around the slider */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #65737e;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle-slider {
    background-color: #343d46;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #343d46;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.target-item {
    display: flex;
    border: 0.2em solid #111111;
    border-radius: 20px;
    width: inherit;
    height: calc(120px + 5vh);
    overflow-x: scroll;
    font-size: calc(3px + 0.7vw);
}

.target-item > div {
    margin: auto;
    border-left: 0.1em solid #111111;
    padding: 0px calc(2px + 2vw);
    align-self: center;
    height: inherit;
    float: left;
    white-space: nowrap;
}

.target-data-age {
    align-items: center;
}