html {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 69%, rgba(63,62,60,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navi-bar {
    background-color: white;
    width: 70%;
    display: grid;
    grid-template-areas: "home user agent . . login";
}

.main-content {
    background-color: white;
    width: 70%;
    margin-top: 4%;
    border-radius: 23px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navi-item {
    margin: 1%;
}

.navi-item button {
    width: calc(19px + 8.5vw);
    height: calc(8px + 4vh);
    font-size: calc(6px + 0.5vw);
    margin: 0px;
}

.image-container {
    padding-top: calc(10px + 5vh);
    padding-bottom: calc(10px + 5vh);
    height: calc(15px + 35vh);
    width: calc(90px + 35vw);
    display: flex;
    justify-content: center;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
}

#login-button {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
    color: white;
    border-top-right-radius: 15%;
    border: none;
    height: 30px;
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: calc(4px + 3vh);
    cursor: pointer;
    border-radius: 16px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-item {
    grid-column: 6/6;
}

.form-container input {
    border: none;
    border-bottom: 2px solid #808080;
    padding-bottom: calc(4px + 1.2vh);
}
