html {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 69%, rgba(63,62,60,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navi-bar {
    background-color: white;
    width: 70%;
    display: flex;
    height: 50px;
}

.main-content {
    background-color: white;
    width: 70%;
}

.home-page {
    display: flex;
    flex-direction: column;
}

.navi-item {
    margin: 8px;
    width: fit-content;
    padding: 0px 4px;
}

.navi-item button {
    width: fit-content;
    padding: 10px 15px;
}